[Desktop Entry]
Categories=Development;Documentation
Exec=xdg-open file:///usr/share/doc/python3-3.5.0a3/html/index.html
Icon=python3
StartupNotify=false
Terminal=false
Type=Application
Name=Python 3 Documentation
Name[fr]=Documentation Python 3
