[Desktop Entry]
Categories=Development;Documentation
Exec=xdg-open file:///usr/share/doc/python-2.7.11/index.html
Icon=python
StartupNotify=false
Terminal=false
Type=Application
Name=Python Documentation
Name[tr]=Dokumentasyon Python
